@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800&display=swap");

:root {
  --nunito: "Nunito", sans-serif;
  --nunito-sans: "Nunito Sans", sans-serif;
  --brown-clr: #96502b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: var(--nunito);
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h2 span,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 56px;
  margin: 0 0 20px 0;
}

a,
ul,
li,
p {
  font-family: var(--nunito);
  color: #202020;
}

p {
  line-height: 1.6em;
  font-size: 18px;
}

.container {
  width: 95%;
  margin: auto;
  padding: 20px 30px;
}

.section {
  padding: 3em 0 5em;
  background: #fff;
  position: relative;
  z-index: 1;
}

/* ===== Header - Navbar ====== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 10%;
}

.logo img {
  width: 100%;
  filter: brightness(0) invert(1);
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: -1;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  padding: 0.5rem;
  transition: 0.3s;
  margin: 0 20px 0 0;
}

.navbar ul li a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--montserrat);
  line-height: 27px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  transition: 0.5s;
}

.navbar ul li a::after,
.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  transition: 0.5s;
  background-color: #e5bb31;
  bottom: 3px;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after,
.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a.active::after {
  width: 60%;
}

.navbar ul li a.active {
  color: #fff;
}

.navbar.scroll-on{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.3);
  transition: all 0.15s ease-in-out 0s;
  /* padding: 7px 30px; */
  background-color: #fff;
  backdrop-filter: blur(10px);
  z-index: 1000;
  animation: headerSlideDown 0.5s ease forwards;
}

.navbar.scroll-on ul li a {
  color: var(--light-blue);
}

.navbar.scroll-on #bar {
  color: var(--brown-clr);
}

@keyframes headerSlideDown {
  0% {
    margin-top: -100px;
    opacity: 0;
  }

  30% {
    margin-top: -50px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}


.navbar.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.3);
  transition: all 0.15s ease-in-out 0s;
  background: #fff;
  z-index: 1000;
  animation: headerSlideDown 0.5s ease forwards;
}
.navbar.scroll-on .logo {
  width: 7%;
}
.navbar.scroll-on .logo img {
  filter: none;
}

@keyframes headerSlideDown {
  0% {
    margin-top: -100px;
    opacity: 0;
  }

  30% {
    margin-top: -50px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

/* ===== Mobile Navbar ===== */
#bar {
  display: none;
  color: #fff;
  font-size: 26px;
}

.popup-mobilemenu {
  z-index: 1000000;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(6, 40, 81, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out;
}

.popup-mobilemenu.menu-open {
  visibility: visible;
  opacity: 1;
}

.popup-mobilemenu .menu-inner {
  padding: 25px 40px;
  width: 375px;
  z-index: 999;
  position: absolute;
  background: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 70%);
  opacity: 0;
  right: -350px;
  transition: all 0.5s ease-out;
}

.popup-mobilemenu.menu-open .menu-inner {
  opacity: 1;
  right: 0;
  overflow-y: auto;
}

.popup-mobilemenu .menu-inner .menu-top {
  border-bottom: 1px solid rgba(255, 224, 21, 0.3);
  padding: 0 0 10px 0;
  display: flex;
  justify-content: flex-end;
}

.menu-top i {
  color: #1b1b1b;
  font-size: 22px;
}

.popup-mobilemenu .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  margin-top: 20px;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li {
  display: inherit;
  margin: 7px 0px !important;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a {
  color: #1b1b1b;
  position: relative;
  transition: 0.4s;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: var(--poppins);
  margin: 0;
  display: block;
  font-weight: 500;
  padding: 0;
  padding-bottom: 10px;
  opacity: 1;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a.active {
  color: var(--light-blue);
}

.popup-mobilemenu .btn {
  background: var(--background-color-2);
  color: #fff;
  display: block;
  margin-top: 10px;
}